
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

/* dark02 */
.text-gray{
    color: #424242;
}
/* dark03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-tittle{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem ;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    max-width: 100%;
}

/* teams and features related styles */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}


#quick-list{
    font-weight: 500;
}

/* some facts related styles */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.fact-card{
    border: 2px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
    margin-top: 24px;
    margin-bottom: 100px;
}



/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .team-img-container,
    .fact-container{
        grid-template-columns: 1fr;
    }

    .fact-container{
        justify-items: center;
        gap: 24px;
    }

    .our-features{
        margin-left: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
        margin: 50px auto;
    }
}